---
layout: default
---

<div class="home">
    <ul class="posts">
        {% for post in paginator.posts %}
        <li><span>{{ post.date | date: site.date_format }}</span>
        {% if post.homebrew %}
          <a href="{{ post.url | prepend: site.github.url }}" style="background-color:#ffdb4d">{{ post.title }}</a></li>
        {% else %}
          <a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">previous</a>
  {% else %}
    <span class="previous gray">previous</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">next</a>
  {% else %}
    <span class="next gray">next</span>
  {% endif %}
</div>