@charset "utf-8";
main {
    max-width: 48rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
}
.site-header {
    .site-title {
        font-weight: 300;
        > a {
            color: $text-color;
            text-decoration: none;
        }
    }
    .site-nav {
    font-weight: 600;
        > a {
            color: $text-color;
            &:hover {
                text-decoration: none;
            }
            &.active {
                border-bottom: 2px solid #666;
            }
            + a {
                margin-left: 1rem;
            }
        }
    }
}
.posts {
    list-style: none;
    padding: 0;
    > li {
        line-height: 1.75;
        span {
            color: $text-color;
            margin-right: 1.5rem;
        }
        a {
            color: $text-color;
            text-decoration: none;
        }
    }
}
.post {
    position: relative;
    .post-header {
        margin-bottom: 0;
        font-weight: 600;
    }
    .post-meta {
        margin: 0;
        color: $meta-color;
    }
}
.previous {
    margin-right: 2.2rem;
}
.caption {
    color: #777777;
    font-size: 0.8125em;
    line-height: 1.96923em;
    margin: 12.8px 0;
    padding: 0 1%;
        padding-top: 0px;
        padding-right: 1%;
        padding-bottom: 0px;
        padding-left: 1%;
}
@media screen and (max-width: 48rem) {
    .site-header {
        .site-title,
        .site-nav {
            text-align: center;
        }
    }
}
